.nav-button{
  padding: 5px 15px;
  background-color: #ccf;
  text-decoration: none;
}
.menu-bar{
  text-align: right;
}
.image-link{
  text-decoration: none;
}
.table-data{
  padding: 10px;
}
.heading-centre{
  text-align: center;
  margin: 0 0 80px;
}
.block-centre{
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  background-color: #a5a5a5;
}
